@font-face {
    font-family: 'FiraSans';
    src: url('../font/FiraSans-SemiBold.woff2') format('woff2'),
        url('../font/FiraSans-SemiBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../font/FiraSans-Regular.woff2') format('woff2'),
        url('../font/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}